<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fullsekurity.theatreblood" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/fs_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name="com.fullsekurity.theatreblood.activity.MainActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.fullsekurity.theatreblood.barcode.BarCodeScannerActivity" >
        </activity>
        <receiver android:name="com.fullsekurity.theatreblood.geofencing.GeofenceBroadcastReceiver"/>
    </application>

</manifest>